.nav__item {
  color: black;
  text-decoration: none;
}

.nav__item--active {
  color: crimson;
  text-decoration: underline;
}

.todos__item {
  color: black;
  text-decoration: none;
}

.todos__item--completed {
  color: #4caf50;
}

.todos__wrapper {
  border: 1px dashed black;
  padding: 10px;
}
